@import '~bootstrap/scss/bootstrap';

header,
footer {
    height: 50px;

    .active {
        font-weight: bold;

    }
}

main {
    height: calc(100vh - 100px);
    overflow: auto;

    .thumb {
        width: 80px;
    }

    span {
        font-weight: normal;
    }
}